html {
	scroll-behavior: smooth;
	font-size: $base-font-size;
	overflow-x: hidden;
	overflow-y: auto;
}

body {
    position: relative;
    // padding-top: $header-height-sm;

    @include media-breakpoint-up(md) {
        // padding-top: $header-height-lg;
    }
}

#MobileOverlayTrigger {
	@extend .sr-only;
	position: fixed;
}

a {
	transition: $base-transition;
}

*:focus {
    outline: 0;
}
