#PageFooter {
    background: $footer-bg-color;
    padding-top: 20px;
    padding-bottom: 20px;

	&, a {
		color: $footer-text-color;
		font-size: rem(14px);
		font-weight: 400;
	}

    .menu a {
        padding: 4px 8px;
    }

    // >=768px
    @include media-breakpoint-up(md) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    // >=1200px
    @include media-breakpoint-up(xl) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
