#PageHeader {
    @include header-sm();
    background-color: $header-bg-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
	text-transform: uppercase;
    z-index: 100;

	[class*="container"] {
		display: flex;
		justify-content: space-between;
		align-items: center;
        flex-wrap: wrap;
        height: 100%;
    }

    #Logo img,
    #Logo svg {
        display: block;
        width: $header-logo-width;
        height: $header-logo-height;
        transition: $base-transition;
    }

    &, a {
        color: $header-text-color;
    }

    // .hamburger-inner,
    // .hamburger-inner:before,
    // .hamburger-inner:after {
    //     background-color: $header-hamburger-color;
    // }

    @include media-breakpoint-up(md) {
        @include header-md();
    }

    @include media-breakpoint-up(lg) {
        @include header-lg();
    }
}

#PageHeader.headroom {
    will-change: margin-top, opacity, padding;
    transition: $base-transition;
}

#PageHeader.headroom--pinned {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
}

#PageHeader.headroom--unpinned {
    margin-top: -30px;
    visibility: hidden;
    opacity: 0;
}

#PageHeader.headroom--not-top {
    @include header-sm();
    background-color: $header-pinned-bg-color;
    box-shadow: 0 0 50px rgba(#000, 0.1);

    #Logo img,
    #Logo svg {
        width: $header-pinned-logo-width;
        height: $header-pinned-logo-height;
    }

    &, a {
        color: $header-pinned-text-color;
    }

    // .hamburger-inner,
    // .hamburger-inner:before,
    // .hamburger-inner:after {
    //     background-color: $header-pinned-hamburger-color;
    // }
}
