.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;

    li a {
        display: inline-block;
    }

	li a:hover {
		opacity: 0.7;
	}
}

/*
** Menu: Header
*/
#HeaderMenu {
    margin-right: rem(-12px);

    li a {
        position: relative;
        font-weight: 500;
        padding: rem(6px 12px);
        font-size: rem(16px);
        z-index: 0;
    }

    // li a.active {

    // }
}
