@include media-breakpoint-down(sm) {
    #MobileOverlay {
        background-color: theme-color('dark');
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 0;
        overflow: auto;
        will-change: transform, opacity;
        transition: $base-transition,
                    max-height 0s;
        transform: translateX(100%);
        visibility: hidden;
        opacity: 0;
    }

    #MobileOverlayInside {
        padding: rem(30px);
        margin-top: $header-height-sm;

        @include media-breakpoint-up(md) {
        	margin-top: $header-height-md;
        }

        @include media-breakpoint-up(lg) {
        	margin-top: $header-height-lg;
        }
    }

    #HeaderMenu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        li a {
            display: block;
            font-size: 1.5rem;
        }
    }
}

#MobileOverlayTrigger:checked {
    ~ #PageHeader {
        margin-top: 0;
        visibility: visible;
        opacity: 1;

        #MobileOverlay {
            transform: translateX(0);
            visibility: visible;
            opacity: 1;
            z-index: 150;
        }
    }

    ~ #PageHeader.headroom--not-top,
    ~ #PageHeader.headroom--not-top a {
        color: $header-text-color;
    }

    ~ #PageHeader #Logo,
    ~ #PageHeader .hamburger {
        z-index: 200;
    }

    ~ #PageHeader .hamburger {
        @extend .is-active;
    }
}
