.section-item {
    position: relative;
    z-index: 0;

    &:not(:last-child)::before {
        background: rgba(#000, 0.1);
        position: absolute;
        content: '';
        height: 1px;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.section-inside {
    position: relative;
    z-index: 0;

    // <576px
    padding-top: rem(20px);
    padding-bottom: rem(20px);

    // >=576px
    @include media-breakpoint-up(sm) {
        padding-top: rem(40px);
        padding-bottom: rem(40px);
    }

    // >=768px
    @include media-breakpoint-up(md) {
        padding-top: rem(60px);
        padding-bottom: rem(60px);
    }

    // >=992px
    @include media-breakpoint-up(lg) {
        padding-top: rem(80px);
        padding-bottom: rem(80px);
    }

    // >=1200px
    @include media-breakpoint-up(xl) {
        padding-top: rem(100px);
        padding-bottom: rem(100px);
    }
}

.section-anchor {
	position: absolute;
	height: 0;
	left: 0;
    right: 0;
    top: 0;
	// top: -$header-height-sm;

	// @include media-breakpoint-up(md) {
	// 	top: -$header-height-md;
	// }

	// @include media-breakpoint-up(lg) {
	// 	top: -$header-height-lg;
	// }
}

.section-body {
    position: relative;
    z-index: 5;

	*:last-child {
		margin-bottom: 0;
	}
}

.section-bg {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50%;

        &::-webkit-media-controls,
        &::-webkit-media-controls-timeline,
        &::-webkit-media-controls-play-button,
        &::-webkit-media-controls-mute-button,
        &::-webkit-media-controls-volume-slider,
        &::-webkit-media-controls-current-time-display {
            display: none;
        }
    }
}

[class*="section-bg-overlay-"] {
    &::before {
        background-color: #000;
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
    }
}

@each $opacity in 10, 20, 30, 40, 50, 60, 70, 80, 90 {
    .section-bg-overlay-opacity-#{$opacity}::before {
        opacity: $opacity / 100;
    }
}

.section-full-height {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: rem(250px);
    height: 100vh;

    @include media-breakpoint-up(sm) {
        min-height: rem(300px);
    }

    @include media-breakpoint-up(md) {
        min-height: rem(400px);
    }

    @include media-breakpoint-up(lg) {
        min-height: rem(500px);
    }

    @include media-breakpoint-up(xl) {
        min-height: rem(600px);
    }
}

/*
** Section: Layouts
*/
.section-layout-primary {
    background-color: theme-color('primary');
    color: theme-color('light');
}

.section-layout-secondary {
    background-color: theme-color('secondary');
    color: theme-color('light');
}

.section-layout-success {
    background-color: theme-color('success');
    color: theme-color('light');
}

.section-layout-danger {
    background-color: theme-color('danger');
    color: theme-color('light');
}

.section-layout-dark {
    background-color: theme-color('dark');
    color: theme-color('light');
}

.section-layout-light {
    background-color: theme-color('light');
    color: theme-color('dark');
}
