.slick-list {
    position: relative;
    z-index: 0;
}

.slick-arrow,
.slick-dots button {
    @include btn-reset();
}

.slick-arrow {
    $slick-arrow-size: rem(200px);

    position: absolute;
    color: #fff;
    font-size: 0;
    line-height: normal;
    top: 50%;
    z-index: 5;
    transform: translateY(-50%);

    &::before {
        font-size: ($slick-arrow-size / 2);
        font-weight: 200;
        display: block;
        margin-top: -(($slick-arrow-size / 2) / 4);
        transition: $base-transition;
        visibility: hidden;
        opacity: 0;
    }

    @include media-breakpoint-up(md) {
        &::before {
            font-size: $slick-arrow-size;
            margin-top: -($slick-arrow-size / 4);
            font-weight: 100;
        }
    }
}

.slick-prev {
    left: rem(15px);

    &::before {
        transform: translateX(-10px);
        content: '\2039';
    }
}

.slick-next {
    right: rem(15px);

    &::before {
        transform: translateX(10px);
        content: '\203A';
    }
}

.slick-dots {
    $slick-dot-size: rem(12px);

    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    bottom: rem(-30px);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;

    li button {
        display: inline-block;
        border: 1px solid theme-color('dark');
        border-radius: $slick-dot-size;
        font-size: 0;
        width: $slick-dot-size;
        height: $slick-dot-size;
        margin: ($slick-dot-size / 2);
        transition: $base-transition;
    }

    li button:hover {
        color: theme-color('dark');
    }

    @include media-breakpoint-down(sm) {
        li.slick-active button {
            background: theme-color('dark');
        }
    }

    @include media-breakpoint-up(md) {
        bottom: rem(30px);

        li button {
            transform: scale(0.3);
            background-color: #fff;
            border-color: #fff;
        }

        li button:hover {

        }
    }
}

.slick-slider:hover {
    .slick-arrow::before {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }

    .slick-dots li button {
        transform: scale(1);
    }

    .slick-dots li:not(.slick-active) button {
        background-color: transparent;
    }
}
