.section-hero {

    .section-inside {
        display: flex !important;
        align-items: flex-end;
        flex: 1 1 auto;
        height: 100%;
    }

	.section-body {
        flex: 1 1 auto;
		color: #fff;
    }

}
