.section-slider {

    @include media-breakpoint-down(sm) {
        + .section-item {
            padding-top: rem(30px);
        }
    }

    // Fix problems with aos
    .slider:not(.slick-initialized) {
        display: flex;
        flex-wrap: nowrap;

        > div {
            flex: 0 0 100%
        }
    }

}
