$base-font-family:     'Ubuntu', sans-serif;
$base-font-size:        18px;
$base-font-weight:      400;
$base-line-height:      1.5;
$base-transition:       0.15s ease-in-out;

$rem-baseline: $base-font-size;

/*
** Header
*/

// Unpinned
$header-bg-color:           none;
$header-text-color:         #fff;
$header-logo-width:         65px;
$header-logo-height:        auto;

// Pinned
$header-pinned-bg-color:    #fff;
$header-pinned-text-color:  #222;
$header-pinned-logo-width:  45px;
$header-pinned-logo-height: auto;

// Sizes
$header-height-sm:          58px;
$header-height-md:          76px;
$header-height-lg:          96px;

/*
** Footer
*/
$footer-bg-color:       #333;
$footer-text-color:     #666;
