@mixin header-sm( $padding: rem(10px) ) {
    height: $header-height-sm;
    padding: $padding;
}

@mixin header-md( $padding: rem(20px) ) {
    height: $header-height-md;
    padding: $padding;
}

@mixin header-lg( $padding: rem(30px) ) {
    height: $header-height-lg;
    padding: $padding;
}
